<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Create Staff" />
		<ui:define name="content">
			<h:form>
				<div class="control-group">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
					<label>Group</label>
					<p:selectOneMenu class="col-ls-4 form-control" value="#{staffController.staff.role.id}">
			        <f:selectItems value="#{roleController.roleList}" var="role"
			          itemLabel="#{role.roleName}" itemValue="#{role.id}" />
			        </p:selectOneMenu>
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Staff Name</label>
						<p:inputText class="col-ls-4 form-control" id="staffName"
							placeholder="Staff Name" name="staffName"
							value="#{staffController.staff.staffName}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>ID Number</label>
						<p:inputText class="col-ls-4 form-control" id="idNumber"
							placeholder="ID Number" name="idNumber"
							value="#{staffController.staff.idNumber}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Phone Number</label>
						<p:inputText class="col-ls-4 form-control" id="phoneNumber"
							placeholder="Phone Number" name="phoneNumber"
							value="#{staffController.staff.phoneNumber}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Email Address</label>
						<p:inputText class="col-ls-4 form-control" id="emailAddress"
							placeholder="Email Address" name="emailAddress"
							value="#{staffController.staff.emailAddress}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Password</label>
						<p:password class="col-ls-4 form-control" id="password"
							placeholder="Password" name="password"
							value="#{staffController.staff.password}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Postal Address</label>
						<p:inputText class="col-ls-4 form-control" id="postalAddress"
							placeholder="Postal Address" name="postalAddress"
							value="#{staffController.staff.postalAddress}" />
					</div>
				</div>
				<div id="success"></div>
				<div class="form-group">
				    <h:commandButton value="Create Staff" class="btn btn-primary btn-xl" 
				        rendered="#{staffController.staff.id eq '' || staffController.staff.id eq 0}"
						action="#{staffController.addStaff}">
					</h:commandButton>
					<h:commandButton value="Update" class="btn btn-primary btn-xl" rendered="#{staffController.staff.id > 0}"
						action="#{staffController.updateStaff}">
					</h:commandButton>
				</div>
				
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>