<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Create Role" />
		<ui:define name="content">
			<h:form>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Role Name</label>
						<p:inputText class="col-ls-4 form-control" id="roleName"
							placeholder="Role Name" name="roleName"
							value="#{roleController.role.roleName}" />
					</div>
				</div>
				<div id="success"></div>
				<div class="form-group">
				    <h:commandButton value="Create Role" class="btn btn-primary btn-xl" 
				        rendered="#{roleController.role.id eq '' || roleController.role.id eq 0}"
						action="#{roleController.addRole}">
					</h:commandButton>
					<h:commandButton value="Update" class="btn btn-primary btn-xl" rendered="#{roleController.role.id > 0}"
						action="#{roleController.updateRole}">
					</h:commandButton>
				</div>
				
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>