<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Create Sacco" />
		<ui:define name="content">
			<h:form>
			    <div class="control-group">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
					<label>Route</label>
					<p:selectOneMenu class="col-ls-4 form-control" value="#{saccoController.sacco.route.id}">
			        <f:selectItems value="#{routeController.routeList}" var="route"
			          itemLabel="#{route.routeName}" itemValue="#{route.id}" />
			        </p:selectOneMenu>
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Sacco Name</label>
						<p:inputText class="col-ls-4 form-control" id="saccoName"
							placeholder="Sacco Name" name="saccoName"
							value="#{saccoController.sacco.saccoName}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Registration Number</label>
						<p:inputText class="col-ls-4 form-control" id="registrationNumber"
							placeholder="Registration Number" name="registrationNumber"
							value="#{saccoController.sacco.registrationNumber}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Postal Address</label>
						<p:inputText class="col-ls-4 form-control" id="postalAddress"
							placeholder="Postal Address" name="postalAddress"
							value="#{saccoController.sacco.postalAddress}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Email Address</label>
						<p:inputText class="col-ls-4 form-control" id="emailAddress"
							placeholder="Email Address" name="emailAddress"
							value="#{saccoController.sacco.emailAddress}" />
					</div>
				</div>
				<div id="success"></div>
				<div class="form-group">
				    <h:commandButton value="Create Sacco" class="btn btn-primary btn-xl" 
				        rendered="#{saccoController.sacco.id eq '' || saccoController.sacco.id eq 0}"
						action="#{saccoController.addSacco}">
					</h:commandButton>
					<h:commandButton value="Update" class="btn btn-primary btn-xl" rendered="#{saccoController.sacco.id > 0}"
						action="#{saccoController.updateSacco}">
					</h:commandButton>
				</div>
				
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>