<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Create Route" />
		<ui:define name="content">
			<h:form>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Route Code</label>
						<p:inputText class="col-ls-4 form-control" id="routeCode"
							placeholder="Route Code" name="routeCode"
							value="#{routeController.route.routeCode}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Route Name</label>
						<p:inputText class="col-ls-4 form-control" id="routeName"
							placeholder="Route Name" name="routeName"
							value="#{routeController.route.routeName}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Route Description</label>
						<p:inputText class="col-ls-4 form-control" id="routeDescription"
							placeholder="Route Description" name="routeDescription"
							value="#{routeController.route.routeDescription}" />
					</div>
				</div>
				<div id="success"></div>
				<div class="form-group">
				    <h:commandButton value="Create Route" class="btn btn-primary btn-xl" 
				        rendered="#{routeController.route.id eq '' || routeController.route.id eq 0}"
						action="#{routeController.addRoute}">
					</h:commandButton>
					<h:commandButton value="Update" class="btn btn-primary btn-xl" rendered="#{routeController.route.id > 0}"
						action="#{routeController.updateRoute}">
					</h:commandButton>
				</div>
				
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>