<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="template.xhtml">
	<ui:param name="title" value="Saccos" />
	<ui:define name="main-menu">
	<div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
	        <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="home.xhtml">Home</a>
            </li>
          </ul>
        </div>
		</ui:define>
	<ui:define name="content">
		<h:form>
			<h:commandLink action="admin-sacco" value="Add Sacco" />
		</h:form>
		<br />
		<p:dataTable value="#{saccoController.saccoList}" var="sacco" tableStyle="width:auto;">
			<p:column>
				<!-- column header -->
				<f:facet name="header">Sacco Name</f:facet>
				<!-- row record -->
   				#{sacco.saccoName}
   			</p:column>
   			<p:column>
				<!-- column header -->
				<f:facet name="header">Route</f:facet>
				<!-- row record -->
   				#{sacco.route.routeCode},#{sacco.route.routeName}
   			</p:column>
			<p:column>
				<f:facet name="header"></f:facet>
				<h:form>
					<h:commandLink action="admin-sacco" value="Edit">
						<f:setPropertyActionListener target="#{saccoController.sacco}"
							value="#{sacco}" />
					</h:commandLink>
				</h:form>
			</p:column>
			</p:dataTable>
	</ui:define>
</ui:composition>
</html>