<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Transport Ke" />
		<ui:define name="main-menu">
		<div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="admin-list-roles.xhtml">Roles</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="admin-list-routes.xhtml">Routes</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="admin-list-saccos.xhtml">Saccos</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="home.xhtml">Home</a>
            </li>
          </ul>
        </div>
		</ui:define>
		
		<ui:define name="content">
		<h:form>
		  <h:commandButton value="Vehicle Owner" class="btn btn-primary btn-xl nav-buttom"
			  action="owner.xhtml" /><br />
		  <h:commandButton value="Staff" class="btn btn-primary btn-xl narrow nav-buttom"
			  action="staff.xhtml" />
		</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>