<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Owner Registration" />
		<ui:define name="content">
			<h:form>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Owner Name</label>
						<p:inputText class="col-ls-4 form-control" id="ownerName"
							placeholder="Owner Name" name="ownerName"
							value="#{ownerUserController.ownerUser.ownerName}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Id Number</label>
						<p:inputText class="col-ls-4 form-control" id="idNumber"
							placeholder="ID Number" name="idNumber"
							value="#{ownerUserController.ownerUser.idNumber}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Password</label>
						<p:password class="col-ls-4 form-control" id="password"
							placeholder="Password" name="password"
							value="#{ownerUserController.ownerUser.password}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Email Address</label>
						<p:inputText class="col-ls-4 form-control" id="emailAddress"
							placeholder="Email Address" name="emailAddress"
							value="#{ownerUserController.ownerUser. emailAddress}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Postal Address</label>
						<p:inputText class="col-ls-4 form-control" id="postalAddress"
							placeholder="Postal Address" name="postalAddress"
							value="#{ownerUserController.ownerUser.postalAddress}" />
					</div>
				</div>
				<div id="success"></div>
				<div class="form-group">
				    <h:commandButton value="Register" class="btn btn-primary btn-xl" 
				        rendered="#{ownerUserController.ownerUser.id eq '' || ownerUserController.ownerUser.id eq 0}"
						action="#{ownerUserController.addOwnerUser}">
					</h:commandButton>
					<h:commandButton value="Update" class="btn btn-primary btn-xl" rendered="#{ownerUserController.ownerUser.id > 0}"
						action="#{ownerUserController.updateOwnerUser}">
					</h:commandButton>
				</div>
				
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>