<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Staff Login" />
		<ui:define name="main-menu">
		<div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="home.xhtml">Home</a>
            </li>
          </ul>
        </div>
		</ui:define>
		<ui:define name="content">
			<h:form>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Id Number</label>
						<p:inputText class="col-ls-4 form-control" id="idNumber"
							placeholder="ID Number" name="idNumber"
							value="#{staffController.staff.idNumber}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Password</label>
						<p:password class="col-ls-4 form-control" id="password"
							placeholder="Password" name="password"
							value="#{staffController.staff.password}" />
					</div>
				</div>
				<div id="success"></div>
				<div class="form-group">
				    <h:commandButton value="Login" class="btn btn-primary btn-xl" 
						action="#{staffController.login}">
					</h:commandButton>
				</div>
				
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>