<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Staff Profile" />
		<ui:define name="main-menu">
		<div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="staff-login.xhtml">Login</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="staff.xhtml">Staff Profile</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
		</ui:define>
		
		<ui:define name="content">
		<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  }
}

function showPosition(position) {
  alert("Latitude: " + position.coords.latitude + "<br />Longitude: " + position.coords.longitude);
}
</script>
		<f:event type="preRenderView"
					listener="#{workLogController.refresh}" />
		<f:event type="preRenderView"
					listener="#{staffController.refresh}" />
		#{staffController.staff.staffName}
		<br />ID: #{staffController.staff.idNumber}
		<br />#{staffController.staff.emailAddress}
		<br />#{staffController.staff.postalAddress}
		<hr />
		<div id="details-1" class="col-ls-12 border">
		    <div id="details-1-a" class="col-ls-3 bold">Assigned Vehicle</div>
		    <div id="details-1-b" class="col-ls-6">
		       #{staffController.motorVehicle.registrationNumber},
		       #{staffController.motorVehicle.vehicleMake},
		       #{staffController.motorVehicle.vehicleModel},
		       #{staffController.motorVehicle.vehicleColor}
		    </div>
		    <div class="col-ls-3 bold">Sacco</div>
			<div class="col-ls-6">
			#{staffController.motorVehicle.sacco.saccoName}
			</div>
			<div class="col-ls-3 bold">Route</div>
			<div class="col-ls-6">
			#{staffController.motorVehicle.sacco.route.routeName},
			#{staffController.motorVehicle.sacco.route.routeCode}
			</div>
		</div>
		<h:form>
		<hr />
        <p:commandButton id="log-start" onclick="getLocation()" value="Start" class="btn btn-primary btn-xl" 
		    action="#{workLogController.openWorkLog}"
		    ajax="true"
		    update="@form"
		    rendered="#{workLogController.workLog.id eq 0 || workLogController.workLog.id eq ''}" />
		<p:commandButton id="log-close" onclick="getLocation()" value="Close" class="btn btn-primary btn-xl" 
		    action="#{workLogController.closeWorkLog}" 
		    update="@form"
		    ajax="true"
		    rendered="#{workLogController.workLog.id > 0}" />
		</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>