<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<body>
	<ui:composition template="template.xhtml">
		<ui:param name="title" value="Add Vehicle" />
		<ui:define name="content">
			<h:form>
				<div class="control-group">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
					<label>Sacco</label>
					<p:selectOneMenu class="col-ls-4 form-control" value="#{vehicleController.motorVehicle.sacco.id}">
			        <f:selectItems value="#{saccoController.saccoList}" var="sacco"
			          itemLabel="#{sacco.saccoName}" itemValue="#{sacco.id}" />
			        </p:selectOneMenu>
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Registration Number</label>
						<p:inputText class="col-ls-4 form-control" id="registrationNumber"
							placeholder="Registration Number" name="registrationNumber"
							value="#{vehicleController.motorVehicle.registrationNumber}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Vehicle Make</label>
						<p:inputText class="col-ls-4 form-control" id="vehicleMake"
							placeholder="Vehicle Make" name="vehicleMake"
							value="#{vehicleController.motorVehicle.vehicleMake}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Vehicle Model</label>
						<p:inputText class="col-ls-4 form-control" id="vehicleModel"
							placeholder="Vehicle Model" name="vehicleModel"
							value="#{vehicleController.motorVehicle.vehicleModel}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Manufacture Year</label>
						<p:inputText class="col-ls-4 form-control" id="manufactureYear"
							placeholder="Manufacture Year" name="manufactureYear"
							value="#{vehicleController.motorVehicle.manufactureYear}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Vehicle Color</label>
						<p:inputText class="col-ls-4 form-control" id="vehicleColor"
							placeholder="Vehicle Color" name="vehicleColor"
							value="#{vehicleController.motorVehicle.vehicleColor}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Carrying Capacity</label>
						<p:inputText class="col-ls-4 form-control" id="carryingCapacity"
							placeholder="Carrying Capacity" name="carryingCapacity"
							value="#{vehicleController.motorVehicle.carryingCapacity}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Insurance Cert Number</label>
						<p:inputText class="col-ls-4 form-control" id="insuranceCertNumber"
							placeholder="Insurance Cert Number" name="insuranceCertNumber"
							value="#{vehicleController.motorVehicle.insuranceCertNumber}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Insurance Expiry Date</label>
						<p:calendar class="col-ls-4 form-control" id="insuranceExpiryDate"
							placeholder="Insurance Expiry Date" name="insuranceExpiryDate"
							value="#{vehicleController.motorVehicle.insuranceExpiryDate}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Last NTSA Inspection Center</label>
						<p:inputText class="col-ls-4 form-control" id="lastNTSAInspectionCenter"
							placeholder="Last NTSA Inspection Center" name="lastNTSAInspectionCenter"
							value="#{vehicleController.motorVehicle.lastNTSAInspectionCenter}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Last NTSA Inspection Date</label>
						<p:calendar class="col-ls-4 form-control" id="lastNTSAInspectionDate"
							placeholder="Last NTSA Inspection Date" name="lastNTSAInspectionDate"
							value="#{vehicleController.motorVehicle.lastNTSAInspectionDate}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Speed Governor Annual Cert Expiry</label>
						<p:calendar class="col-ls-4 form-control" id="speedGovernorAnnualCertExpiry"
							placeholder="Speed Governor Annual Cert Expiry" name="speedGovernorAnnualCertExpiry"
							value="#{vehicleController.motorVehicle.speedGovernorAnnualCertExpiry}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Speed Governor Annual Cert No</label>
						<p:inputText class="col-ls-4 form-control" id="speedGovernorAnnualCertNo"
							placeholder="Speed Governor Annual Cert No" name="speedGovernorAnnualCertNo"
							value="#{vehicleController.motorVehicle.speedGovernorAnnualCertNo}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Speed Governor Model</label>
						<p:inputText class="col-ls-4 form-control" id="speedGovernorModel"
							placeholder="Speed Governor Model" name="speedGovernorModel"
							value="#{vehicleController.motorVehicle.speedGovernorModel}" />
					</div>
				</div>
				<div class="control-group">
					<div
						class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Speed Governor Serial No</label>
						<p:inputText class="col-ls-4 form-control" id="speedGovernorSerialNo"
							placeholder="Speed Governor Serial No" name="speedGovernorSerialNo"
							value="#{vehicleController.motorVehicle.speedGovernorSerialNo}" />
					</div>
				</div>
				<div class="control-group">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
					<label>Driver</label>
					<p:selectOneMenu class="col-ls-4 form-control" value="#{vehicleController.motorVehicle.driver.id}">
			        <f:selectItems value="#{staffController.staffList}" var="staff"
			          itemLabel="#{staff.staffName}-#{staff.role.roleName}" itemValue="#{staff.id}" />
			        </p:selectOneMenu>
					</div>
				</div>
				<div class="control-group">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
					<label>Conductor</label>
					<p:selectOneMenu class="col-ls-4 form-control" value="#{vehicleController.motorVehicle.conductor.id}">
			        <f:selectItems value="#{staffController.staffList}" var="staff"
			          itemLabel="#{staff.staffName}-#{staff.role.roleName}" itemValue="#{staff.id}" />
			        </p:selectOneMenu>
					</div>
				</div>
				<div id="success"></div>
				<div class="form-group">
				    <h:commandButton value="Add Vehicle" class="btn btn-primary btn-xl" 
				        rendered="#{vehicleController.motorVehicle.id eq '' || vehicleController.motorVehicle.id eq 0}"
						action="#{vehicleController.addVehicle}">
					</h:commandButton>
					<h:commandButton value="Update" class="btn btn-primary btn-xl" rendered="#{vehicleController.motorVehicle.id > 0}"
						action="#{vehicleController.updateVehicle}">
					</h:commandButton>
				</div>
				
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>